* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryGreen: #3f6660;
    --highlightGreen: #8bdf83;
    --darkWhite: #fefffe;
}

body {
    font-family: "Inter", sans-serif;
}

.header {
    background-color: var(--primaryGreen);
}
.logoContainer {
    width: 40%;
    margin: 0 auto;
}
.logo {
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.navLink {
    color: var(--darkWhite);
    background-color: #4e7e77;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    width: 100%;
    padding: 1rem;
    display: block;
    font-size: 1rem;
}

.main {
    background-color: var(--darkWhite);
}

.mainHeading {
    color: #304f4a;
    font-weight: 600;
}

.productsHeading {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.productCard,
.selectedProduct,
.contactFormContainer {
    margin: 3rem;
    border-radius: 0.125rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.productPhoto,
.selectedProductPhoto {
    width: 100%;
    height: auto;
}

.productName {
    padding: 1rem 1rem 0 1rem;
    font-size: 1.75rem;
    font-weight: 400;
    color: #304f4a;
}

.productSize {
    padding: 1rem 1rem 0 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.productPot {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.productPrice {
    color: #737373;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 400;
}

.productLink,
.buyLink {
    color: var(--darkWhite);
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
}

.productLinkContainer,
.buyContainer {
    border: none;
    outline: 0;
    padding: 0;
    background-color: var(--primaryGreen);
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.navLink:hover,
.navLink:focus,
.productLink:hover,
.productLink:focus,
.buyLink:hover,
.buyLink:focus {
    cursor: pointer;
    color: var(--primaryGreen);
    background-color: var(--highlightGreen);
}

.selectedProductName {
    margin: 1.5rem;
    font-size: 2rem;
}

.selectedProductSize,
.selectedProductPot {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--darkWhite);
    background-color: #81b1aa;
    width: max-content;
}

.selectedProductPrice {
    color: #737373;
    font-size: 1.6rem;
    margin: 1.5rem;
    font-weight: 500;
}

.selectedProductDescription {
    margin: 1.5rem;
    font-weight: 300;
    line-height: 1.4rem;
}

.productLight,
.productWater {
    margin: 1.5rem;
    font-weight: 300;
}

.productFeatureName {
    font-weight: 500;
    font-size: 1.125rem;
}

.productFeature {
    line-height: 1.5rem;
}

@media only screen and (min-width: 48rem) {
    .header,
    .productsList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 3rem;
    }
    .logoContainer {
        justify-self: left;
        margin-left: 3rem;
    }
    .navContainer {
        grid-column: 2 / 4;
    }
    .navList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        justify-content: end;
        margin-right: 3rem;
    }
    .productCard {
        margin: 0;
    }
    .main {
        margin: 3rem;
    }
    .productsHeading {
        text-align: left;
    }
    .selectedProduct {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .selectedProductContainer {
        border-radius: 0.125rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (min-width: 64rem) {
    .header,
    .productsList,
    .selectedProduct {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navContainer {
        grid-column: 3 / 4;
    }
    .productsHeading {
        font-size: 2rem;
        text-align: left;
    }
    .productName {
        font-size: 1.5rem;
    }
    .selectedProductContainer {
        grid-column: 2 / 4;
        grid-gap: 3rem;
    }
}
