* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryGreen: #3f6660;
    --highlightGreen: #8bdf83;
    --darkWhite: #fefffe;
}

body {
    font-family: "Inter", sans-serif;
}

.header {
    background-color: var(--primaryGreen);
}
.logoContainer {
    width: 40%;
    margin: 0 auto;
}
.logo {
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.navLink {
    background-color: #4e7e77;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.navLink,
.productLink,
.buyLink,
.button {
    color: var(--darkWhite);
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 1rem;
    border: none;
    text-align: center;
}

.productLink,
.buyLink,
.button {
    font-size: 1.3rem;
    background-color: var(--primaryGreen);
    font-weight: 400;
}

.navLink:hover,
.navLink:focus,
.productLink:hover,
.productLink:focus,
.buyLink:hover,
.buyLink:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--primaryGreen);
    background-color: var(--highlightGreen);
}

.main {
    background-color: var(--darkWhite);
}

.primaryHeading {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.secondaryHeading {
    color: #304f4a;
    font-weight: 600;
}

.productCard,
.selectedProduct,
.contactFormContainer {
    margin: 3rem;
    border-radius: 0.125rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.productPhoto,
.selectedProductPhoto {
    width: 100%;
    height: auto;
}

.productName,
.contactDetailsHeading {
    padding: 1rem 1rem 0 1rem;
    font-size: 1.75rem;
    font-weight: 400;
    color: #304f4a;
}

.productSize {
    padding: 1rem 1rem 0 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.productPot {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.productPrice {
    color: #737373;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 400;
}

.selectedProductText {
    padding: 1.5rem;
}

.selectedProductName {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.selectedProductSize,
.selectedProductPot {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--darkWhite);
    background-color: #81b1aa;
    width: max-content;
}

.selectedProductPrice {
    color: #737373;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.selectedProductDescription {
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
}

.productLight,
.productWater {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.productFeatureName,
.addressLabel {
    font-weight: 500;
    font-size: 1.125rem;
}

.productFeature {
    line-height: 1.5rem;
}

.contactFormContainer {
    background-color: #ebeeeb;
    padding: 1rem;
}

.form-label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-family: inherit;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.message {
    height: 7rem;
    resize: none;
    overflow: scroll;
    width: 100%;
}

.contactDetailsContainer {
    margin: 3rem;
}

.contactHeading {
    margin-bottom: 1.25rem;
}

.contactDetails {
    line-height: 1.4rem;
    padding-bottom: 0.8rem;
    font-size: 1.125rem;
}

@media only screen and (min-width: 48rem) {
    .header,
    .productsList,
    .navList,
    .selectedProduct,
    .contactContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header,
    .productsList {
        align-items: center;
        grid-gap: 3rem;
    }
    .logoContainer {
        justify-self: left;
        margin-left: 3rem;
    }
    .navContainer {
        grid-column: 2 / 4;
    }
    .navList {
        justify-content: end;
        margin-right: 3rem;
    }
    .main {
        margin: 3rem;
    }
    .primaryHeading {
        text-align: left;
    }
    .selectedProduct {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .selectedProductContainer {
        border-radius: 0.125rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .navList,
    .selectedProduct,
    .contactContainer {
        grid-gap: 2rem;
    }
    .productCard {
        margin: 0;
        height: 100%;
        display: grid;
    }
    .productLinkContainer {
        height: max-content;
        align-self: end;
    }
    .contactFormContainer,
    .contactDetailsContainer {
        margin: 0;
    }
}

@media only screen and (min-width: 64rem) {
    .header,
    .productsList,
    .selectedProduct {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navContainer {
        grid-column: 3 / 4;
    }
    .primaryHeading {
        font-size: 2rem;
        text-align: left;
    }
    .main {
        margin: 3rem auto;
        width: 80%;
    }
    .productName {
        font-size: 1.5rem;
    }
    .selectedProductContainer {
        grid-column: 2 / 4;
        grid-gap: 3rem;
    }
    .contactContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
    }
    .contactFormContainer {
        grid-column: 1 / 3;
    }
}
